{% extends 'main.html' %}
{% load static %}



{%  block tourist_visas %}
    <div class="half-bg mb-3" style="background: url('/assets/img/oblaka2.jpg') no-repeat center; background-size: cover;">
        <div class="container h-100 mw-100 img-gradient-overlay">
            <div class="row h-100 align-items-center justify-content-center text-light font-weight-bold">
                <div class="big-font">
                    Приглашения
                </div>
            </div>
        </div>
    </div>
    <div class="countainer">
        <div class="row">
            <div class="col">
                <div class="font-weight-bold">Туристические приглашения</div>
                <br>
                Туристическое приглашение является единственной достойной альтернативой гостевому-частному приглашению - для частной визы в Россию. Приглашение, является официальным визовым приглашением иностранцу для получения российской туристической визы однократной или двукратной на срок не более 30 дней.
                Сроком до 30 дней
            </div>
            <div class="col">
                <div class="font-weight-bold">Рабочее приглашение в Россию</div>
                <br>
                С разрешением на работу этот документ дает возможность гражданам других стран быть принятыми в штат российских компаний и получать официальную заработную плату. Как следствие, у иностранца нет ограничений по числу въездов и выездов в течении всего срока действия рабочей визы, единственным обязательным условием является оформление Уведомления о прибытии после каждого въезда на территорию Российской Федерации
                Сроком на 1 и 3 года
            </div>
            <div class="col">
                <div class="font-weight-bold">Деловое приглашение в Россию</div>
                <br>
                Деловое приглашение для иностранцев оформляется лицам, работающим в компаниях, фирмах, предприятиях за пределами России, и планирующим посещение России с целью проведения деловых встреч и переговоров, а также сотрудникам иностранных компаний для обеспечения реализации совместных проектов с российскими партнерами. Таким образом, оформление деловых приглашений невозможно, если у человека нет постоянного места работы
                Сроком от 30 до 365 дней
                Однократные, двухкратные, многократные
            </div>
            <div class="col">
                <div class="font-weight-bold">Бизнес-приглашение в Шенген</div>
                <br>
                Для деловой визы - необходимо деловое (бизнес) приглашение. Для получения деловой визы вам, прежде всего, понадобится приглашение от принимающей стороны — юрлица, организатора мероприятия или компании-партнера. Деловую визу следует оформлять лицам, которые выезжают из страны с целью деловой поездки, либо по приглашению зарубежных партнеров. Данный тип виз дает право, в отличие от других, пребывать в выбранной стране определенный период времени для решения деловых вопросов. Бизнес-виза не позволяет устроиться на работу или проходить обучение на территории страны во время поездки. Деловая виза может быть однократной, двукратной или многократной.
                Сроком на 1 и 2 года
            </div>
        </div>
        <div class="row p-5">
            <div class="col text-center big-font">
                Часто задаваемые вопросы
            </div>
        </div>
        <div id="accordion" >
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Общие положения
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Приглашение является основанием для выдачи иностранному гражданину визы либо для въезда в Российскую Федерацию в порядке, не требующем получения визы, в случаях, предусмотренных Федеральным законом от 25 июля 2002 г. № 115-ФЗ «О правовом положении иностранных граждан в Российской Федерации» или международными договорами Российской Федерации.
                        Услуга по оформлению и выдаче приглашений на въезд в Российскую Федерацию иностранных граждан и лиц без гражданства осуществляется МВД России ее территориальными органами и их структурными подразделениями в соответствии с Административным регламентом предоставления МВД России государственной услуги по оформлению и выдаче приглашений на въезд в Российскую Федерацию иностранных граждан и лиц без гражданства, утвержденным приказом МВД России от 21 сентября 2017 г. № 735.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Форматы оформления приглашения
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        При подаче ходатайства о выдаче приглашения на въезд в Российскую Федерацию приглашающей стороне предоставляется право выбора оформления приглашения либо на бланке установленной формы либо в форме электронного документа.
                        Оформление электронного приглашения возможно и при подаче ходатайства с использованием Единого портала государственных услуг.
                        При оформлении приглашения в форме электронного документа, приглашение на бланке установленной формы не оформляется.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Сведения, содержащиеся в приглашении
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Приглашение содержит следующие сведения: фамилию, имя (написанные буквами русского и латинского алфавитов), дату и место рождения, пол, гражданство приглашаемого лица, государство его проживания, номер и дату выдачи документа, удостоверяющего его личность, цель поездки, предполагаемый срок пребывания в Российской Федерации, предполагаемые пункты посещения в Российской Федерации, наименование приглашающей организации и ее место нахождения или фамилию, имя приглашающего физического лица и адрес его места жительства, номер и дату принятия решения о выдаче приглашения и срок действия приглашения.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Срок оформления приглашения
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        Срок оформления приглашения по ходатайству, поданному высококвалифицированным специалистом, осуществляющим трудовую деятельность в Российской Федерации в порядке, определенном статьей 13.2 Федерального закона от 25 июля 2002 г. № 115-ФЗ «О правовом положении иностранных граждан в Российской Федерации» о выдаче приглашения членам его семьи не должен превышать 14 рабочих дней со дня поступления всех необходимых документов. и если обнаружатся недочеты, Вас попросят их исправить до подачи в посольство. Набор документов  для получения шенгена будет минимален, обо всем остальном позаботимся мы.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Результат оказания услуг
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        Результатом предоставления государственной услуги является оформление или выдача приглашения или принятие решения об отказе в оформлении или выдаче приглашения.
                    </div>
                </div>
            </div>
        </div>

{% endblock tourist_visas %}