{% extends 'main.html' %}
{% load static %}

{%  block about_us %}
    <div class="full-bg" style="background: url('/assets/img/about_us_bgr.jpg') no-repeat center; background-size: cover; height: 80%">
        <div class="container h-100 mw-100 img-gradient-overlay">
            <div class="row h-100 align-items-center justify-content-center text-light">
                <div class="col big-font p-5">
                    Lim Travel - Центр путешествий
                </div>
            </div>
        </div>
    </div>
{% endblock about_us %}