{% extends 'extend.html' %}
{% load static %}

{%  block content %}

    <div class="full-bg" style="background: url('/assets/img/about_us_main_image.jpg') no-repeat center; background-size: cover; height: 80%">
        <div class="container h-100 mw-100 img-gradient-overlay">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-light font-weight-bold">
                    <div class="container">
                        <div class="row">
                            <div class="col  pr-5 px-5" style="font-size: 42px; padding-bottom: 60px">
                                Lim Travel - Центр путешествий
                            </div>
                        </div>
                        <div class="row px-5">
                            <p></p>
                        </div>

                        <div class="row">
                            <div class="col big-font pr-5 px-5">
                                Визы в 45 стран<br>
                                мира
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center font-weight-bold" style="font-size: 48px; padding-top: 60px">
            Lim Travel
        </div>
        <div class="row ">
            <div class="col pb-2">
                Федеральная сеть визовых центров. Открыта в 2018 году. Специализируемся на выдаче виз, загранпаспортов, рабочих приглашений. В 2019 году планируется открытие направления : туризм.<br><br>
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <div class="full-bg rounded-circle" style="background: url('/assets/img/about_us_1.jpg') no-repeat center; background-size: cover; height: 80px; width: 80px">
                            </div>
                        </div>
                        <div class="col" style="margin-left: 5px;">
                            <p class="font-weight-bold" style="margin-bottom: 7px; margin-top: 12px;" >Алексей Горбиков<br></p>
                            Основатель
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="full-bg rounded-circle" style="background: url('/assets/img/about_us_2.jpg') no-repeat center; background-size: cover; height: 80px; width: 80px">
                            </div>
                        </div>
                        <div class="col" style="margin-left: 5px;">
                            <p class="font-weight-bold" style="margin-bottom: 7px; margin-top: 12px;" >Марина Иванова<br></p>
                            Со-основатель
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <img src="{% static 'img/main_logo_high.jpg' %}">
            </div>
        </div>

    </div>
    <div class="d-flex p-5" style="background-color: #1D91D0; margin-top: 70px; margin-bottom: 70px;"></div>
    <div class="col big-font text-center font-weight-bold pb-3">
        Наша команда
    </div>
    <div class="container">
        <div class="row pb-3">
            <div class="-4">
                <img src="{% static 'img/about_us_3.jpg' %}">
            </div>
            <div class="col-4">
                <img src="{% static 'img/about_us_4.jpg' %}">
            </div>
            <div class="col-4">
                <img src="{% static 'img/about_us_5.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="-4">
                <img src="{% static 'img/about_us_6.jpg' %}">
            </div>
            <div class="col-4">
                <img src="{% static 'img/about_us_7.jpg' %}">
            </div>
            <div class="col-4">
                <img src="{% static 'img/about_us_8.jpg' %}">
            </div>
        </div>
    </div>
    <div class="d-flex p-5" style="background-color: #1D91D0; margin-top: 70px; margin-bottom: 20px;"></div>
    <div class="countainer ">
        <div class="row">
            <div class="col">
                <div class="big-font text-center pb-5">
                    Наши преимущества
                </div>
            </div>
        </div>
        <div class="row text-center p-5">
            <div class="col ">
                <img class="image" src={% static 'img/registration-form.svg' %} height="60" >
                <h4 class="font-weight-bold p-4">Любая прописка</h4>
                <h6>Работаем со всеми регионами РФ</h6>
            </div>
            <div class="col ">
                <img class="image" src={% static 'img/refuse.svg' %} height="60" >
                <h4 class="font-weight-bold p-4">Визы после отказа</h4>
                <h6>Помощь в получении визы даже после отказа</h6>
            </div>
            <div class="col ">
                <img class="image" src={% static 'img/stopwatch.svg' %} height="60" >
                <h4 class="font-weight-bold p-4">Экспресс-виза</h4>
                <h6>Срочное оформление визы от 1-го дня</h6>
            </div>
            <div class="col ">
                <img class="image" src={% static 'img/shipped.svg' %} height="60" >
                <h4 class="font-weight-bold p-4">Доставка на дом</h4>
                <h6>Доставим визу на дом в течение 24 часов</h6>
            </div>
        </div>

{% endblock content %}